# Application
APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_FOREIGN_KEYS=true

# Database URL (alternativa)
DB_URL=

# Database SSL
MYSQL_ATTR_SSL_CA=

# Cache Database
DB_CACHE_CONNECTION=
DB_CACHE_TABLE=cache
DB_CACHE_LOCK_CONNECTION=
DB_CACHE_LOCK_TABLE=

# Queue Database
DB_QUEUE_CONNECTION=
DB_QUEUE_TABLE=jobs
DB_QUEUE=default
DB_QUEUE_RETRY_AFTER=90

# Cache
CACHE_STORE=database

# Session
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_EXPIRE_ON_CLOSE=false
SESSION_ENCRYPT=false
SESSION_CONNECTION=
SESSION_TABLE=sessions
SESSION_STORE=
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_PARTITIONED_COOKIE=false

# Queue
QUEUE_CONNECTION=database

# Redis
REDIS_CLIENT=phpredis
REDIS_CLUSTER=redis
REDIS_PREFIX=
REDIS_PERSISTENT=false
REDIS_URL=
REDIS_HOST=127.0.0.1
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_MAX_RETRIES=3
REDIS_BACKOFF_ALGORITHM=decorrelated_jitter
REDIS_BACKOFF_BASE=100
REDIS_BACKOFF_CAP=1000
REDIS_QUEUE_CONNECTION=default
REDIS_QUEUE=default
REDIS_QUEUE_RETRY_AFTER=90
REDIS_CACHE_CONNECTION=cache
REDIS_CACHE_LOCK_CONNECTION=default

# Mail
MAIL_MAILER=log
MAIL_SCHEME=
MAIL_URL=
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"
MAIL_EHLO_DOMAIN=
MAIL_SENDMAIL_PATH=/usr/sbin/sendmail -bs -i
MAIL_LOG_CHANNEL=

# Logging
LOG_CHANNEL=stack
LOG_LEVEL=debug
LOG_STACK=single
LOG_DAILY_DAYS=14
LOG_DEPRECATIONS_CHANNEL=null
LOG_DEPRECATIONS_TRACE=false
LOG_SLACK_WEBHOOK_URL=
LOG_SLACK_USERNAME="Laravel Log"
LOG_SLACK_EMOJI=:boom:
LOG_PAPERTRAIL_HANDLER=
PAPERTRAIL_URL=
PAPERTRAIL_PORT=

# Filesystem
FILESYSTEM_DISK=local

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=false

# SQS
SQS_PREFIX=
SQS_QUEUE=default
SQS_SUFFIX=

# Third Party Services
POSTMARK_API_KEY=
RESEND_API_KEY=

# Slack
SLACK_BOT_USER_OAUTH_TOKEN=
SLACK_BOT_USER_DEFAULT_CHANNEL=

# Beanstalkd
BEANSTALKD_QUEUE_HOST=localhost
BEANSTALKD_QUEUE=default
BEANSTALKD_QUEUE_RETRY_AFTER=90

# Memcached
MEMCACHED_PERSISTENT_ID=
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
